.example-card {
    width: 250px;
    height: 100%}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}